<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel = "stylesheet" type="text/css" href = "../public/css/smoke_white.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>
<body>
    <a class ='homelink'href="/">Home Page</a>
    <div class = "container">
    <div class = "one">
        <div class = "contact">
            <div class = "name">Nicolae Levinta</div>
            <div class = "contact_info">
                <div class = "position">Manual QA intership</div>
                <div class = "email ">email: nicolae.levintsa@gmail.com</div>
                <div class = "tel">tel: 068 280 578</div>
                <div class = "github">github: nilemato</div>
                <div class = "sep"></div>
            </div>
        </div>
    </div>
    <div class="two">
        <div class = "profile">
            <div class = "profile_header"></div>
            <div class = "profile_description">
                Nemo voluptas quidem obcaecati accusantium, dolorem fugit magni at deleniti eum voluptatibus quia hic dolores veniam explicabo excepturi tempore optio! Exercitationem error explicabo voluptatum non modi deleniti animi voluptatem, inventore magnam laborum ducimus hic soluta voluptates blanditiis illum accusamus quaerat eveniet pariatur distinctio eos voluptatibus natus, iusto numquam iure! Expedita, unde id
            </div>
        </div>
    </div>
    <div class = "three">

        <div class = "left_sections">Skills</div>

        <div class = "skill">
            <div class = "skill_name">CSS/HTML</div>
                <div class = "bar">
                    <div class = "csshtmlbar">
                        <div class  ="csshtmlbarfill"></div>
                    </div>
                </div>
        </div>

        <div class = "skill">
            <div class = "skill_name">JavaScript</div>
                <div class = "bar">
                    <div class = "javascriptbar">
                        <div class  ="javascriptbarfill"></div>
                    </div>
                </div>
        </div>

        <div class = "skill">
            <div class = "skill_name">React</div>
                <div class = "bar">
                    <div class = "reactbar">
                        <div class  ="reactbarfill"></div>
                    </div>
                </div>
        </div>

        <div class = "skill">
            <div class = "skill_name">NodeJS</div>
                <div class = "bar">
                    <div class = "nodejsbar">
                        <div class  ="nodejsbarfill"></div>
                    </div>
                </div>
        </div>

        <div class = "left_sections ">Languages</div>
        
        <div class = "skill">
            <div class = "skill_name">Romanian</div>
                <div class = "bar">
                    <div class = "romanianbar">
                        <div class  ="romanianbarfill"></div>
                    </div>
                </div>
        </div>

        <div class = "skill">
            <div class = "skill_name">Russian</div>
                <div class = "bar">
                    <div class = "russianbar">
                        <div class  ="russianbarfill"></div>
                    </div>
                </div>
        </div>
        
        <div class = "skill">
            <div class = "skill_name">English</div>
                <div class = "bar">
                    <div class = "englishbar">
                        <div class  ="englishbarfill"></div>
                    </div>
                </div>
        </div>

        <div class = "skill">
            <div class = "skill_name">French</div>
                <div class = "bar">
                    <div class = "frenchbar">
                        <div class  ="frenchbarfill"></div>
                    </div>
                </div>
        </div>

        <div class = "left_sections ">Education</div>

        <div class = "skill">Bachelor Degree in Accounting
        </div>
        <div class  ="year">Academy of Economic Studies of Moldova</div>
        <div class ="year">2011-2015</div>

        <div class = "skill">Associate degree in Electrotechnincs
        </div>
        <div class  ="year">Technological Colege of Kishinay</div>
        <div class ="year">2007-2011</div>
    </div>
    <div class ="four">
        <div class = "right_sections ">Web Resources</div>
        <div class = "skill ">javascript.info</div>
        <div class = "skill ">w3school.com</div>
        <div class = "skill">coursiera.org</div>
        <div class = "skill">vasea.com</div>
        <div class = "right_sections ">Books</div>
        <div class = "skill ">Get programming with Node.JS - Alex Weller</div>
        <div class = "skill ">Object Oriented JavaScript - Stoyan Stefanov</div>
        <div class = "skill ">Software Testing and Quality Assurance</div>
        <div class = "skill ">What a cool book to learn this skill</div>
        <div class = "expiriance_container">
            <div class = "right_sections ">Expirience</div>
            <div class = "occupation_workplace">Lorem ipsum dolor sit amet.</div>
            <div class = "year ">2012-2020</div>
            <div class = "workdescription ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt sequi in expedita exercitationem eos, cupiditate minima! Et laudantium voluptatem pariatur?</div>
            <div class = "occupation_workplace">Lorem ipsum dolor sit amet.</div>
            <div class = "year ">2012-2020</div>
            <div class = "workdescription ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt sequi in expedita exercitationem eos, cupiditate minima! Et laudantium voluptatem pariatur?</div>
            <div class = "occupation_workplace">Lorem ipsum dolor sit amet.</div>
            <div class = "year ">2012-2020</div>
            <div class = "workdescription ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt sequi in expedita exercitationem eos, cupiditate minima! Et laudantium voluptatem pariatur?</div>
            <div class = "occupation_workplace">Lorem ipsum dolor sit amet.</div>
            <div class = "year ">2012-2020</div>
            <div class = "workdescription ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt sequi in expedita exercitationem eos, cupiditate minima! Et laudantium voluptatem pariatur?</div>
            <div class = "occupation_workplace">Lorem ipsum dolor sit amet.</div>
            <div class = "year ">2012-2020</div>
            <div class = "workdescription ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt sequi in expedita exercitationem eos, cupiditate minima! Et laudantium voluptatem pariatur?</div>
            <div class = "occupation_workplace">Lorem ipsum dolor sit amet.</div>
            <div class = "year ">2012-2020</div>
            <div class = "workdescription ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt sequi in expedita exercitationem eos, cupiditate minima! Et laudantium voluptatem pariatur?</div>
            <div class = "occupation_workplace">Lorem ipsum dolor sit amet.</div>
            <div class = "year ">2012-2020</div>
            <div class = "workdescription ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt sequi in expedita exercitationem eos, cupiditate minima! Et laudantium voluptatem pariatur?</div>
            <div class = "occupation_workplace">Lorem ipsum dolor sit amet.</div>
            <div class = "year ">2012-2020</div>
            <div class = "workdescription ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt sequi in expedita exercitationem eos, cupiditate minima! Et laudantium voluptatem pariatur?</div>
        </div>
    </div>
    </div>
</body>
</html>